In [1]:
API_KEY = '1ecd8f73e6af027139a32ec8346c9975'

In [1]:
import requests
import pandas as pd
import datetime
import numpy as np
from tqdm import tqdm_notebook as tqdm

In [2]:
## The website have 540548 movie
## last list movie ID: 695550 as date: april 20,2020
# https://www.themoviedb.org/faq/general
### Fotmart for get APO GUIDE : https://developers.themoviedb.org/3/getting-started/introduction

In [3]:
'''
data_meta = []
not_movie_id = []
for i in tqdm(range(1,695550)):
    try:
        r = requests.get('https://api.themoviedb.org/3/movie/'+str(i)+'?api_key=1ecd8f73e6af027139a32ec8346c9975')
        data_json = r.json()
        if len(data_json) == 25:
            data_meta.append(data_json)
        else:
            not_movie_id.append(i)
    except:
        not_movie_id.append(i)
'''

"\ndata_meta = []\nnot_movie_id = []\nfor i in tqdm(range(1,695550)):\n    try:\n        r = requests.get('https://api.themoviedb.org/3/movie/'+str(i)+'?api_key=1ecd8f73e6af027139a32ec8346c9975')\n        data_json = r.json()\n        if len(data_json) == 25:\n            data_meta.append(data_json)\n        else:\n            not_movie_id.append(i)\n    except:\n        not_movie_id.append(i)\n"

In [4]:
#movie_metada_new_1 = pd.DataFrame(data_meta)

In [5]:
#movie_metada_new_1.info()

In [6]:
##movie_metada_new_1.to_csv('movie_meta_new_1.csv')

In [12]:
movie_metadata_new_1 = pd.read_csv('data/movie_meta_new_1.csv', lineterminator='\n')
movie_metadata_new_2 = pd.read_csv('data/movie_meta_new_2.csv', lineterminator='\n')
movie_metadata_new_3 = pd.read_csv('data/movie_meta_new_3.csv', lineterminator='\n')
movie_metadata_new_4 = pd.read_csv('data/movie_meta_new_4.csv', lineterminator='\n')
movie_metadata_new_5 = pd.read_csv('data/movie_meta_new_5.csv', lineterminator='\n')

In [13]:

all_movie_df = [movie_metadata_new_1, movie_metadata_new_2, movie_metadata_new_3,movie_metadata_new_4, movie_metadata_new_5]

df = pd.concat(all_movie_df)

/Users/hungnguyen/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
df.drop('Unnamed: 0', axis = 1, inplace = True)

In [18]:
df.head()

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,vote_count\r
0,False,/lxD5ak7BOoinRNehOCA85CQ8ubr.jpg,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,...,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.9,12102.0,NaN
1,False,/y7SQmjlB42VvYyRIFQXLQ4ZYrn.jpg,"{'id': 495527, 'name': 'Jumanji Collection', '...",65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",http://www.sonypictures.com/movies/jumanji/,8844,tt0113497,en,Jumanji,...,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,7.2,7097.0,NaN
2,False,/vAZZrfi0xwE226zpSTAbJ7gUWwf.jpg,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,...,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.6,190.0,NaN
3,False,NaN,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,...,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.3,71.0,NaN
4,False,/wKQlgHjJwh5mGBZ37vDsXBx9zbh.jpg,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,...,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,6.1,391.0,NaN

In [19]:
df.to_csv('movie_metadata_self_collect.csv', index= False)